<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../styles.css" rel="stylesheet">
</head>

<body>
    <h2>Top Heroes</h2>
    <ul class="list-group">
        <div *ngFor="let hero of heroes" (click)=gotoDetail(hero) class="col-xs-4">
            <div class="module-hero">
                <li class="list-group-item">{{hero.name}}</li>
            </div>
        </div>
    </ul>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>